## Data Understanding
Im zweiten Schritt des CRISP-DM Modells werden sich die Daten genauer angeschaut. Das Ziel ist es hier, die verfügbaren Daten zu verstehen. So soll abgeschätzt werden, ob die verfügbaren Daten in der verfügbaren Qualität dem Problem gerecht werden.
Als erstes müssen die Daten eingelesen werden. Hierfür lässt sich das Python package `pandas` sehr gut verwenden.

In [2]:
import pandas as pd

csv_data = pd.read_csv('data_set.csv', sep=',')

Im nächsten Schritt schauen wir uns den Datensatz erst einmal an.

In [4]:
csv_data.head()

,Date.Rptd,DR.NO,DATE.OCC,TIME.OCC,AREA,AREA.NAME,RD,Crm.Cd,CrmCd.Desc,Status,Status.Desc,LOCATION,Cross.Street,Location.1
1136584,05/01/2016,162010003,04/30/2016,2200,20,Olympic,2069,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",IC,Invest Cont,1155 ELDEN AV,NaN,"(34.0508, -118.2877)"
1136585,06/29/2016,160315990,06/29/2016,1020,3,Southwest,353,946,OTHER MISCELLANEOUS CRIME,IC,Invest Cont,3745 S VICTORIA AV,NaN,"(34.0199, -118.3363)"
1136586,05/01/2016,161200696,05/01/2016,2030,12,77th Street,1256,626,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,IC,Invest Cont,943 W 75TH ST,NaN,"(33.9717, -118.2893)"
1136587,09/05/2016,161015111,09/05/2016,800,10,West Valley,1017,440,THEFT PLAIN - PETTY ($950 & UNDER),IC,Invest Cont,7545 BALBOA BL,NaN,"(34.2067, -118.5014)"
1136588,11/27/2016,161228506,11/27/2016,1855,12,77th Street,1207,510,VEHICLE - STOLEN,IC,Invest Cont,4435 ORCHARD AV,NaN,"(34.0037, -118.289)"

Wir sehen einen Datensatz, welcher die Kriminalitätsdaten von Los Angeles enthält.